<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todo List</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
    <section class="main" ng-controller="TodoController as $ctrl">
        <h1>TODO List</h1>
        <p>A place to store the things you have to do!</p>
        <input type="text" placeholder="Filter your to-dos">
        <ol>
            <section class="list" ng-class="{ 'completed': chore.completed === true}">

                <li ng-repeat="chore in $ctrl.list track by $index">
                    <button class="completebtn" ng-if="chore.completed">Complete</button>
                    <p>{{ chore.task }}</p>
                    <p class="x">X</p>
                </li>
            </section>
        </ol>

        <input type="text" placeholder="Add your to do">
        <button class="add">Add</button>

    </section>


    <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
    <script src="module.js"></script>
    <script src="controller.js"></script>

</body>

</html>